<launch>
  <node name="pwm_sender" pkg="pwm_package" type="set_pwm.py" output="screen">
  </node>
  <node name="attitude_ctrl" pkg="ibvs" type="attitude_ctrl_node" >
  </node>
  <node name="position_ctrl" pkg="ibvs" type="position_ctrl_node" >
  </node>
  <node name="image_acquisition" pkg="ibvs" type="video_publisher_node">
  </node>
  <node name="pwm_pub" pkg="ibvs" type="pwm_node" >
  </node>
  <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
  </node> -->
</launch>
