<launch>
    <!-- vim: set ft=xml noet : -->
    <!-- example launch script for ArduPilotMega based FCU's -->

    <arg name="fcu_url" default="udp://:14650@" /> <!-- Port et baudrate of the connexion with Pixhawk -->
    <arg name="gcs_url" default="udp://:14551@192.168.0.137:14550" /> <!-- Retransmission to a GCS like Mavproxy does -->
    <arg name="tgt_system" default="1" /> <!-- MAVLink id of your drone, default is 1 -->
    <arg name="tgt_component" default="1" /> <!-- MAVLink component id of your drone, default is 1 -->
    <arg name="log_output" default="screen" /> <!-- Where ROS will output its message, screen is your current terminal -->

 
<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
    <param name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" /> <!-- Mavros plugin configuration, we will modify that later -->
    <param name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" /> <!-- Mavros plugin list to use -->

    <param name="fcu_url" value="$(arg fcu_url)" />
    <param name="gcs_url" value="$(arg gcs_url)" />
    <param name="target_system_id" value="$(arg tgt_system)" />
    <param name="target_component_id" value="$(arg tgt_component)" />
 
    <!--rosparam command="load" file="$(find mavros)/launch/px4_blacklist.yaml"-->
 
    <!-- enable heartbeat send and reduce timeout -->
    <!-- <param name="conn_heartbeat" value="5.0" /> -->
    <!-- <param name="conn_timeout" value="5.0" /> -->
    <!-- automatically start mavlink on USB -->
    <!-- <param name="startup_px4_usb_quirk" value="true" /> -->
    <param name="mocap/use_tf" value="true"/>
    <param name="mocap/use_pose" value="false"/>
</node>

    <!-- <node name="offboard_node" pkg="ibvs" type="offboard_node" output="screen"> </node> -->
    <node name="thrust_node" pkg="ibvs" type="thrust_node" output="screen">
 
    </node>
    
    <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
        <param name="stream_mode" value="ServerPush" type="str" />
        <!--param name="datastream_hostport" value="147.47.175.54:801" type="str" /-->
        <param name="datastream_hostport" value="192.168.0.166:801" type="str" />
        <param name="tf_ref_frame_id" value="/world" type="str" />
        <remap from="vicon/QuadGus/QuadGus" to="/mavros/mocap/tf"/>  
        <remap from="vicon/QuadGus/QuadGus" to="/mavros/local_position/pose"/>           
         
    </node>

</launch>